.detalle-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.detalle-info p {
  margin: 8px 0;
}

.detalle-imagen img {
  max-width: 100%;
  margin-top: 15px;
  border-radius: 8px;
}

/* Estado visual */
.pendiente {
  color: #f1c40f;
  font-weight: bold;
}

.aprobado {
  color: #2ecc71;
  font-weight: bold;
}

.rechazado {
  color: #e74c3c;
  font-weight: bold;
}

  
  