<h2 class="title">Editar Perfil</h2>

<form [formGroup]="form" (ngSubmit)="guardarCambios()" class="form-container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Correo electrónico</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="phone" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="address" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Ciudad de Residencia</mat-label>
    <input matInput formControlName="residenceCity" />
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
    <button mat-raised-button color="warn" type="button" (click)="eliminarCuenta()">Eliminar Cuenta</button>
  </div>
</form>

